.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  width: 60vw;
  max-width: 500px;
  align-items: center;
  text-align: center;

  img {
    width: 7rem;
  }

  button {
    border-radius: 1rem;
    padding: 0.6rem 0.8rem;
    font-weight: bold;
  }
}
