header {
  background-color: limegreen;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;
  height: 10vh;

  a {
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1.5rem;
  }
}
